# Reading/Writing Data to Different Sources - Excel, JSON, SQL, Etc

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("employee_data_update.csv", index_col= "EmployeeID")  #index_col= 0
df.head()

,Name,Age,Gender,Department,JobTitle,Salary,DateOfJoining,MaritalStatus,Education,OverTime,...,City,EmploymentType,IsRemote,LastWorkingDay,LeavesTakenLastYear,ProjectsHandled,Certifications,PromotionEligible,Country,SocialMedia
EmployeeID,,,,,,,,,,,,,,,,,,,,,
1000,George Williams,50,Male,HR,Consultant,65057,10/8/2017,Single,Master,Yes,...,Dhaka,Contract,No,16:21.8,18,1,AWS,Yes,USA,Instagram
1001,Jane Brown,36,Female,Sales,Executive,31239,3/7/2021,Single,PhD,No,...,Sylhet,Part-time,No,54:32.7,10,5,Scrum Master,Yes,Japan,Instagram
1002,George Johnson,29,Female,Support,Manager,95661,9/27/2016,Single,High School,Yes,...,Rajshahi,Full-time,Yes,54:32.7,17,9,AWS,Yes,Japan,LinkedIn
1003,Hannah Williams,42,Other,Engineering,Manager,75272,11/18/2018,Single,PhD,No,...,Barisal,Full-time,No,16:21.8,3,3,Data Analyst,Yes,India,Twitter
1004,George Davis,40,Other,IT,Developer,119393,3/14/2019,Married,Master,Yes,...,Dhaka,Part-time,Yes,27:16.4,15,4,Scrum Master,No,France,LinkedIn

In [3]:
pd.set_option("display.max_columns", 25)
pd.set_option("display.max_rows", 500)

In [4]:
filt = (df['Country'] == "Bangladesh")
bd_df = df.loc[filt]
bd_df.head()

,Name,Age,Gender,Department,JobTitle,Salary,DateOfJoining,MaritalStatus,Education,OverTime,MonthlyIncome,Hobbies,...,Email,PhoneNumber,City,EmploymentType,IsRemote,LastWorkingDay,LeavesTakenLastYear,ProjectsHandled,Certifications,PromotionEligible,Country,SocialMedia
EmployeeID,,,,,,,,,,,,,,,,,,,,,,,,,
1011,Jane Johnson,24,Female,HR,Engineer,39110,12/19/2016,Married,Master,No,7752,"Reading, Cooking, Photography",...,jane.johnson@corporate.org,1269846195,Barisal,Part-time,No,10:54.5,27,6,Data Analyst,No,Bangladesh,LinkedIn
1019,Fiona Smith,54,Male,Support,Analyst,73753,10/9/2011,Married,PhD,No,7214,Traveling,...,fiona.smith@company.com,1688615743,Barisal,Intern,No,05:27.3,5,2,Scrum Master,No,Bangladesh,Facebook
1038,Jane Brown,23,Female,Sales,Developer,67208,4/6/2011,Divorced,PhD,Yes,8958,Cooking,...,jane.brown@company.com,1354985811,Khulna,Part-time,Yes,21:49.1,18,5,PMP,No,Bangladesh,Facebook
1039,Fiona Johnson,41,Other,Sales,Consultant,84061,5/14/2016,Single,High School,Yes,5256,"Sports, Cooking, Gardening",...,fiona.johnson@company.com,1576718471,Barisal,Contract,Yes,32:43.6,5,4,PMP,No,Bangladesh,Instagram
1048,John Brown,23,Male,Support,Engineer,38125,8/29/2015,Single,Master,No,5703,"Sports, Reading",...,john.brown@example.com,1604205806,Barisal,Full-time,Yes,54:32.7,24,7,NaN,Yes,Bangladesh,NaN

In [5]:
bd_df.to_csv('bd_employee_data.csv')

In [6]:
#bd_df.to_csv("bd_employee_data.csv", sep = '\t')

In [7]:
test = pd.read_csv("bd_employee_data.csv", index_col= 0)
test

,Name,Age,Gender,Department,JobTitle,Salary,DateOfJoining,MaritalStatus,Education,OverTime,MonthlyIncome,Hobbies,...,Email,PhoneNumber,City,EmploymentType,IsRemote,LastWorkingDay,LeavesTakenLastYear,ProjectsHandled,Certifications,PromotionEligible,Country,SocialMedia
EmployeeID,,,,,,,,,,,,,,,,,,,,,,,,,
1011,Jane Johnson,24,Female,HR,Engineer,39110,12/19/2016,Married,Master,No,7752,"Reading, Cooking, Photography",...,jane.johnson@corporate.org,1269846195,Barisal,Part-time,No,10:54.5,27,6,Data Analyst,No,Bangladesh,LinkedIn
1019,Fiona Smith,54,Male,Support,Analyst,73753,10/9/2011,Married,PhD,No,7214,Traveling,...,fiona.smith@company.com,1688615743,Barisal,Intern,No,05:27.3,5,2,Scrum Master,No,Bangladesh,Facebook
1038,Jane Brown,23,Female,Sales,Developer,67208,4/6/2011,Divorced,PhD,Yes,8958,Cooking,...,jane.brown@company.com,1354985811,Khulna,Part-time,Yes,21:49.1,18,5,PMP,No,Bangladesh,Facebook
1039,Fiona Johnson,41,Other,Sales,Consultant,84061,5/14/2016,Single,High School,Yes,5256,"Sports, Cooking, Gardening",...,fiona.johnson@company.com,1576718471,Barisal,Contract,Yes,32:43.6,5,4,PMP,No,Bangladesh,Instagram
1048,John Brown,23,Male,Support,Engineer,38125,8/29/2015,Single,Master,No,5703,"Sports, Reading",...,john.brown@example.com,1604205806,Barisal,Full-time,Yes,54:32.7,24,7,NaN,Yes,Bangladesh,NaN
1049,Ethan Davis,27,Other,Finance,Analyst,66059,1/23/2010,Single,Master,No,8999,"Sports, Cooking, Gaming",...,ethan.davis@company.com,1803290653,Sylhet,Part-time,Yes,38:10.9,25,4,PMP,No,Bangladesh,Instagram
1051,Ethan Garcia,50,Female,IT,Consultant,47087,7/28/2013,Married,High School,No,3389,Traveling,...,ethan.garcia@company.com,1127162410,Khulna,Intern,No,21:49.1,17,6,PMP,No,Bangladesh,LinkedIn
1060,Charlie Miller,29,Female,HR,Manager,69882,10/3/2019,Single,Bachelor,No,2542,"Painting, Traveling",...,charlie.miller@example.com,1275156192,Barisal,Part-time,No,16:21.8,18,6,CCNA,Yes,Bangladesh,LinkedIn
1062,Hannah Davis,44,Other,Sales,Engineer,59165,6/9/2018,Divorced,High School,Yes,9505,"Traveling, Painting, Reading",...,hannah.davis@corporate.org,1923870531,Dhaka,Contract,Yes,54:32.7,4,2,Scrum Master,Yes,Bangladesh,Twitter
1064,George Brown,37,Male,Support,Manager,34114,11/11/2020,Divorced,Bachelor,Yes,4277,Painting,...,george.brown@example.com,1642338866,Rajshahi,Part-time,Yes,54:32.7,11,2,AWS,No,Bangladesh,NaN
1069,Bob Williams,50,Male,Engineering,Engineer,47772,2/27/2018,Single,PhD,Yes,5459,Gaming,...,bob.williams@corporate.org,1988988164,Barisal,Intern,Yes,00:00.0,25,6,Data Analyst,No,Bangladesh,LinkedIn
1079,John Taylor,32,Female,Support,Executive,61324,11/27/2020,Divorced,Bachelor,No,9163,Cooking,...,john.taylor@corporate.org,1103543365,Barisal,Part-time,Yes,05:27.3,15,9,Data Analyst,Yes,Bangladesh,Facebook
1100,Ethan Davis,22,Female,Support,Manager,41556,5/9/2016,Married,PhD,No,7734,"Traveling, Gardening, Gaming",...,ethan.davis@corporate.org,1197935492,Sylhet,Part-time,No,10:54.5,27,7,CCNA,Yes,Bangladesh,LinkedIn
1103,Diana Wilson,35,Other,Engineering,Executive,76819,1/7/2017,Married,High School,Yes,9402,Photography,...,diana.wilson@example.com,1906325596,Khulna,Contract,No,NaN,11,2,PMP,Yes,Bangladesh,NaN
1115,Fiona Brown,53,Other,IT,Executive,89182,5/18/2021,Divorced,High School,Yes,7798,"Photography, Music",...,fiona.brown@example.com,1637847508,Khulna,Contract,Yes,38:10.9,7,8,Scrum Master,No,Bangladesh,Twitter
1128,Jane Smith,49,Female,Engineering,Engineer,37151,3/29/2023,Married,High School,No,7163,Painting,...,jane.smith@corporate.org,1380365788,Sylhet,Full-time,Yes,05:27.3,11,4,AWS,Yes,Bangladesh,Facebook
1129,George Brown,23,Female,Logistics,Manager,87716,9/18/2021,Single,PhD,Yes,8409,"Cooking, Sports",...,george.brown@corporate.org,1779667047,Khulna,Intern,Yes,16:21.8,13,7,Scrum Master,No,Bangladesh,LinkedIn
1146,Ethan Brown,30,Male,Support,Engineer,93646,7/7/2013,Divorced,Master,Yes,4632,Music,...,ethan.brown@example.com,1706809113,Khulna,Contract,Yes,54:32.7,17,0,PMP,No,Bangladesh,NaN
1152,Ethan Wilson,53,Female,IT,Consultant,36441,12/12/2015,Married,High School,Yes,6892,Sports,...,ethan.wilson@corporate.org,1164526408,Khulna,Full-time,Yes,54:32.7,10,8,CCNA,Yes,Bangladesh,LinkedIn
1153,Jane Garcia,45,Female,Logistics,Engineer,54611,3/16/2010,Single,Bachelor,No,5683,"Photography, Sports",...,jane.garcia@corporate.org,1109989261,Dhaka,Intern,No,38:10.9,2,8,NaN,Yes,Bangladesh,NaN
1155,Fiona Johnson,23,Female,HR,Technician,89189,7/4/2019,Married,PhD,Yes,7849,"Sports, Gaming, Painting",...,fiona.johnson@example.com,1283990849,Rajshahi,Full-time,Yes,49:05.5,28,9,Data Analyst,No,Bangladesh,Facebook
1167,Diana Jones,40,Other,IT,Developer,39435,11/30/2020,Divorced,High School,Yes,3655,"Photography, Reading",...,diana.jones@example.com,1937948841,Khulna,Intern,No,21:49.1,25,3,AWS,No,Bangladesh,Twitter
1170,Ethan Smith,53,Other,IT,Consultant,111929,9/27/2023,Divorced,PhD,Yes,4685,"Photography, Painting, Music",...,ethan.smith@example.com,1307120747,Barisal,Part-time,Yes,16:21.8,11,9,NaN,Yes,Bangladesh,LinkedIn
1178,Jane Davis,26,Other,IT,Developer,37227,12/17/2022,Married,High School,Yes,2949,"Music, Photography, Gaming",...,jane.davis@example.com,1025534472,Chittagong,Intern,No,16:21.8,30,0,CCNA,Yes,Bangladesh,Instagram
1183,Hannah Jones,37,Male,HR,Technician,111571,4/8/2019,Married,Bachelor,No,7893,"Reading, Cooking",...,hannah.jones@company.com,1171754832,Sylhet,Intern,No,05:27.3,25,1,Scrum Master,No,Bangladesh,NaN
1209,Ethan Garcia,28,Male,Sales,Consultant,118700,7/24/2010,Single,PhD,No,8273,Gardening,...,ethan.garcia@company.com,1263832666,Barisal,Full-time,Yes,54:32.7,14,3,Data Analyst,No,Bangladesh,Twitter
1217,Alice Miller,53,Other,IT,Engineer,47625,12/14/2020,Single,High School,Yes,3799,"Gardening, Gaming, Painting",...,alice.miller@company.com,1197238510,Khulna,Part-time,Yes,21:49.1,18,7,Scrum Master,Yes,Bangladesh,NaN
1247,George Garcia,42,Other,Sales,Developer,88576,8/15/2014,Divorced,High School,Yes,3315,"Music, Cooking, Painting",...,george.garcia@example.com,1560927572,Barisal,Full-time,No,NaN,21,6,Scrum Master,Yes,Bangladesh,Instagram
1252,Bob Garcia,38,Female,Sales,Developer,90963,8/30/2022,Single,Bachelor,Yes,6416,Sports,...,bob.garcia@company.com,1606488007,Chittagong,Part-time,No,21:49.1,14,4,NaN,No,Bangladesh,Facebook
1253,Alice Miller,54,Female,Engineering,Executive,72828,6/22/2014,Divorced,High School,Yes,9194,"Sports, Cooking",...,alice.miller@company.com,1140096570,Dhaka,Part-time,No,43:38.2,17,1,AWS,No,Bangladesh,LinkedIn
1254,Diana Garcia,33,Male,Logistics,Technician,78604,11/10/2023,Single,PhD,No,5373,"Painting, Cooking, Music",...,diana.garcia@company.com,1053273626,Khulna,Intern,No,00:00.0,25,8,CCNA,No,Bangladesh,NaN
1260,Alice Johnson,29,Male,Support,Consultant,118733,10/29/2019,Divorced,High School,Yes,5648,Photography,...,alice.johnson@company.com,1170881671,Chittagong,Part-time,Yes,NaN,28,4,Scrum Master,Yes,Bangladesh,Instagram
1261,Hannah Johnson,48,Male,Logistics,Manager,98619,3/18/2014,Single,PhD,Yes,3965,Gardening,...,hannah.johnson@corporate.org,1948572929,Dhaka,Full-time,No,49:05.5,16,0,Scrum Master,Yes,Bangladesh,Twitter
1272,Ethan Miller,56,Male,HR,Manager,92711,9/3/2011,Single,PhD,Yes,3392,Gaming,...,ethan.miller@example.com,1936246269,Barisal,Part-time,No,21:49.1,9,8,CCNA,No,Bangladesh,LinkedIn
1274,Charlie Taylor,49,Female,Marketing,Developer,48752,4/9/2016,Single,PhD,Yes,9751,"Gardening, Gaming, Traveling",...,charlie.taylor@example.com,1814449223,Rajshahi,Part-time,Yes,NaN,12,1,NaN,Yes,Bangladesh,Facebook
1277,George Brown,27,Other,Engineering,Engineer,115957,11/4/2023,Divorced,PhD,No,7140,Music,...,george.brown@example.com,1737546773,Rajshahi,Full-time,No,05:27.3,22,9,Data Analyst,Yes,Bangladesh,Facebook
1278,Charlie Taylor,56,Male,Engineering,Technician,86273,9/11/2015,Divorced,Master,Yes,5460,"Painting, Reading, Traveling",...,charlie.taylor@example.com,1009655350,Rajshahi,Intern,Yes,16:21.8,13,1,Data Analyst,Yes,Bangladesh,LinkedIn
1280,Fiona Williams,45,Male,Engineering,Manager,106559,9/2/2022,Married,Bachelor,No,9825,"Gardening, Reading",...,fiona.williams@corporate.org,1994039397,Khulna,Full-time,Yes,43:38.2,22,7,PMP,Yes,Bangladesh,Instagram
1284,Hannah Wilson,54,Female,Sales,Technician,49169,8/23/2017,Divorced,High School,No,7358,"Music, Photography, Gardening",...,hannah.wilson@corporate.org,1762542654,Dhaka,Part-time,No,43:38.2,29,6,AWS,No,Bangladesh,Facebook
1308,Bob Williams,46,Female,Marketing,Technician,117468,12/30/2016,Divorced,Bachelor,Yes,4321,Music,...,bob.williams@company.com,1272007295,Dhaka,Part-time,Yes,00:00.0,21,4,NaN,Yes,Bangladesh,Facebook
1310,Alice Davis,34,Female,IT,Analyst,106957,1/21/2016,Divorced,PhD,Yes,5903,"Painting, Gardening",...,alice.davis@example.com,1240237852,Khulna,Contract,No,38:10.9,11,8,Scrum Master,No,Bangladesh,Twitter
1314,Ethan Miller,22,Male,Engineering,Executive,103165,4/4/2016,Married,Bachelor,No,5151,"Cooking, Painting",...,ethan.miller@company.com,1414777847,Rajshahi,Contract,No,16:21.8,16,9,AWS,Yes,Bangladesh,Facebook
1330,Alice Wilson,27,Female,Logistics,Manager,104520,11/19/2011,Single,PhD,Yes,6523,"Cooking, Music",...,alice.wilson@corporate.org,1133817161,Barisal,Contract,Yes,38:10.9,9,9,Data Analyst,Yes,Bangladesh,Twitter
1343,Diana Taylor,51,Female,Finance,Developer,81112,11/1/2011,Married,PhD,No,8470,Music,...,diana.taylor@example.com,1580458865,Khulna,Contract,Yes,21:49.1,15,0,PMP,Yes,Bangladesh,Twitter
1349,Ethan Miller,58,Female,HR,Executive,46920,5/14/2014,Single,PhD,No,9201,"Music, Painting, Gardening",...,ethan.miller@corporate.org,1832209944,Khulna,Part-time,No,00:00.0,25,4,Scrum Master,No,Bangladesh,NaN
1377,Fiona Garcia,37,Other,Support,Developer,67846,6/28/2020,Single,PhD,No,9222,Cooking,...,fiona.garcia@company.com,1213066317,Dhaka,Full-time,Yes,43:38.2,28,2,PMP,Yes,Bangladesh,Instagram
1382,Hannah Williams,54,Other,Finance,Technician,100984,9/12/2014,Single,Master,No,7940,"Gardening, Music, Cooking",...,hannah.williams@corporate.org,1201018324,Khulna,Contract,Yes,10:54.5,25,9,AWS,Yes,Bangladesh,Instagram
1398,John Brown,45,Other,Logistics,Developer,87009,7/15/2022,Divorced,High School,Yes,6671,"Sports, Photography",...,john.brown@example.com,1438515178,Dhaka,Full-time,No,38:10.9,29,2,Scrum Master,No,Bangladesh,NaN
1403,Jane Brown,48,Other,Support,Analyst,101229,5/13/2015,Single,High School,Yes,6924,Traveling,...,jane.brown@corporate.org,1763520656,Khulna,Contract,No,05:27.3,23,7,Scrum Master,Yes,Bangladesh,Instagram
1409,George Jones,54,Other,IT,Developer,39956,10/2/2011,Single,Master,No,9690,"Gaming, Painting",...,george.jones@corporate.org,1151791522,Barisal,Contract,Yes,NaN,15,5,CCNA,Yes,Bangladesh,NaN
1422,Hannah Miller,44,Female,Finance,Analyst,90428,11/23/2014,Divorced,PhD,No,6183,"Photography, Music",...,hannah.miller@corporate.org,1851375783,Sylhet,Part-time,No,05:27.3,15,8,AWS,Yes,Bangladesh,Facebook
1425,Ethan Brown,29,Male,Engineering,Developer,86532,2/12/2013,Married,Master,No,5622,Music,...,ethan.brown@corporate.org,1509734114,Sylhet,Contract,Yes,49:05.5,8,5,Data Analyst,No,Bangladesh,Facebook
1427,Jane Taylor,47,Female,Sales,Executive,77076,12/25/2022,Divorced,Master,Yes,3152,"Photography, Painting",...,jane.taylor@company.com,1118517494,Chittagong,Contract,Yes,32:43.6,2,2,PMP,Yes,Bangladesh,Instagram
1435,Ethan Davis,57,Male,IT,Engineer,34798,8/2/2022,Single,PhD,No,7012,Reading,...,ethan.davis@company.com,1681035364,Barisal,Part-time,No,49:05.5,28,9,AWS,No,Bangladesh,Twitter
1452,Charlie Taylor,33,Male,HR,Consultant,83352,5/20/2016,Married,High School,No,6824,"Reading, Cooking, Traveling",...,charlie.taylor@example.com,1945585882,Barisal,Full-time,Yes,38:10.9,25,5,NaN,Yes,Bangladesh,Instagram
1480,George Williams,57,Female,Logistics,Developer,100476,10/4/2018,Single,High School,No,7225,"Gardening, Traveling",...,george.williams@company.com,1608206053,Sylhet,Part-time,Yes,00:00.0,11,1,NaN,No,Bangladesh,NaN
1485,Diana Davis,26,Other,Sales,Executive,58082,8/21/2014,Married,Master,No,3909,Photography,...,diana.davis@example.com,1005891737,Khulna,Full-time,No,21:49.1,10,4,PMP,No,Bangladesh,Facebook
1487,Charlie Jones,44,Male,Sales,Analyst,106816,2/18/2012,Single,High School,Yes,2756,"Photography, Gaming",...,charlie.jones@example.com,1374996881,Khulna,Full-time,No,27:16.4,30,1,Data Analyst,No,Bangladesh,Facebook
1497,Alice Williams,34,Female,IT,Manager,87906,8/18/2019,Single,Bachelor,No,5723,"Sports, Gaming, Photography",...,alice.williams@example.com,1247862626,Barisal,Intern,Yes,43:38.2,23,3,PMP,No,Bangladesh,Twitter
1508,Charlie Wilson,43,Female,Support,Engineer,47630,6/11/2011,Single,High School,No,5899,Painting,...,charlie.wilson@corporate.org,1306625237,Khulna,Intern,No,00:00.0,22,4,CCNA,Yes,Bangladesh,Instagram
1519,John Williams,47,Male,HR,Executive,91558,1/21/2015,Single,Master,Yes,7170,"Sports, Photography",...,john.williams@corporate.org,1604900087,Sylhet,Contract,No,27:16.4,17,3,Scrum Master,No,Bangladesh,NaN
1539,Ethan Davis,32,Male,Engineering,Consultant,88279,12/31/2011,Single,High School,No,8830,Music,...,ethan.davis@example.com,1178329259,Rajshahi,Full-time,No,NaN,20,6,Scrum Master,No,Bangladesh,Facebook
1540,Bob Jones,58,Other,Finance,Engineer,119489,12/27/2021,Married,PhD,Yes,9369,"Sports, Gaming",...,bob.jones@company.com,1100466474,Dhaka,Part-time,No,21:49.1,11,5,PMP,No,Bangladesh,Instagram
1548,Hannah Taylor,52,Male,IT,Developer,79145,5/22/2010,Married,Master,No,9695,Photography,...,hannah.taylor@company.com,1318980404,Chittagong,Contract,Yes,10:54.5,16,8,AWS,Yes,Bangladesh,Twitter

In [8]:
bd_df.to_json('bd employee data test json', orient='records', lines = True)

In [9]:
test = pd.read_json('bd employee data test json', orient='records', lines = True)
test

,Name,Age,Gender,Department,JobTitle,Salary,DateOfJoining,MaritalStatus,Education,OverTime,MonthlyIncome,Hobbies,...,Email,PhoneNumber,City,EmploymentType,IsRemote,LastWorkingDay,LeavesTakenLastYear,ProjectsHandled,Certifications,PromotionEligible,Country,SocialMedia
0,Jane Johnson,24,Female,HR,Engineer,39110,12/19/2016,Married,Master,No,7752,"Reading, Cooking, Photography",...,jane.johnson@corporate.org,1269846195,Barisal,Part-time,No,10:54.5,27,6,Data Analyst,No,Bangladesh,LinkedIn
1,Fiona Smith,54,Male,Support,Analyst,73753,10/9/2011,Married,PhD,No,7214,Traveling,...,fiona.smith@company.com,1688615743,Barisal,Intern,No,05:27.3,5,2,Scrum Master,No,Bangladesh,Facebook
2,Jane Brown,23,Female,Sales,Developer,67208,4/6/2011,Divorced,PhD,Yes,8958,Cooking,...,jane.brown@company.com,1354985811,Khulna,Part-time,Yes,21:49.1,18,5,PMP,No,Bangladesh,Facebook
3,Fiona Johnson,41,Other,Sales,Consultant,84061,5/14/2016,Single,High School,Yes,5256,"Sports, Cooking, Gardening",...,fiona.johnson@company.com,1576718471,Barisal,Contract,Yes,32:43.6,5,4,PMP,No,Bangladesh,Instagram
4,John Brown,23,Male,Support,Engineer,38125,8/29/2015,Single,Master,No,5703,"Sports, Reading",...,john.brown@example.com,1604205806,Barisal,Full-time,Yes,54:32.7,24,7,None,Yes,Bangladesh,None
5,Ethan Davis,27,Other,Finance,Analyst,66059,1/23/2010,Single,Master,No,8999,"Sports, Cooking, Gaming",...,ethan.davis@company.com,1803290653,Sylhet,Part-time,Yes,38:10.9,25,4,PMP,No,Bangladesh,Instagram
6,Ethan Garcia,50,Female,IT,Consultant,47087,7/28/2013,Married,High School,No,3389,Traveling,...,ethan.garcia@company.com,1127162410,Khulna,Intern,No,21:49.1,17,6,PMP,No,Bangladesh,LinkedIn
7,Charlie Miller,29,Female,HR,Manager,69882,10/3/2019,Single,Bachelor,No,2542,"Painting, Traveling",...,charlie.miller@example.com,1275156192,Barisal,Part-time,No,16:21.8,18,6,CCNA,Yes,Bangladesh,LinkedIn
8,Hannah Davis,44,Other,Sales,Engineer,59165,6/9/2018,Divorced,High School,Yes,9505,"Traveling, Painting, Reading",...,hannah.davis@corporate.org,1923870531,Dhaka,Contract,Yes,54:32.7,4,2,Scrum Master,Yes,Bangladesh,Twitter
9,George Brown,37,Male,Support,Manager,34114,11/11/2020,Divorced,Bachelor,Yes,4277,Painting,...,george.brown@example.com,1642338866,Rajshahi,Part-time,Yes,54:32.7,11,2,AWS,No,Bangladesh,None
10,Bob Williams,50,Male,Engineering,Engineer,47772,2/27/2018,Single,PhD,Yes,5459,Gaming,...,bob.williams@corporate.org,1988988164,Barisal,Intern,Yes,00:00.0,25,6,Data Analyst,No,Bangladesh,LinkedIn
11,John Taylor,32,Female,Support,Executive,61324,11/27/2020,Divorced,Bachelor,No,9163,Cooking,...,john.taylor@corporate.org,1103543365,Barisal,Part-time,Yes,05:27.3,15,9,Data Analyst,Yes,Bangladesh,Facebook
12,Ethan Davis,22,Female,Support,Manager,41556,5/9/2016,Married,PhD,No,7734,"Traveling, Gardening, Gaming",...,ethan.davis@corporate.org,1197935492,Sylhet,Part-time,No,10:54.5,27,7,CCNA,Yes,Bangladesh,LinkedIn
13,Diana Wilson,35,Other,Engineering,Executive,76819,1/7/2017,Married,High School,Yes,9402,Photography,...,diana.wilson@example.com,1906325596,Khulna,Contract,No,None,11,2,PMP,Yes,Bangladesh,None
14,Fiona Brown,53,Other,IT,Executive,89182,5/18/2021,Divorced,High School,Yes,7798,"Photography, Music",...,fiona.brown@example.com,1637847508,Khulna,Contract,Yes,38:10.9,7,8,Scrum Master,No,Bangladesh,Twitter
15,Jane Smith,49,Female,Engineering,Engineer,37151,3/29/2023,Married,High School,No,7163,Painting,...,jane.smith@corporate.org,1380365788,Sylhet,Full-time,Yes,05:27.3,11,4,AWS,Yes,Bangladesh,Facebook
16,George Brown,23,Female,Logistics,Manager,87716,9/18/2021,Single,PhD,Yes,8409,"Cooking, Sports",...,george.brown@corporate.org,1779667047,Khulna,Intern,Yes,16:21.8,13,7,Scrum Master,No,Bangladesh,LinkedIn
17,Ethan Brown,30,Male,Support,Engineer,93646,7/7/2013,Divorced,Master,Yes,4632,Music,...,ethan.brown@example.com,1706809113,Khulna,Contract,Yes,54:32.7,17,0,PMP,No,Bangladesh,None
18,Ethan Wilson,53,Female,IT,Consultant,36441,12/12/2015,Married,High School,Yes,6892,Sports,...,ethan.wilson@corporate.org,1164526408,Khulna,Full-time,Yes,54:32.7,10,8,CCNA,Yes,Bangladesh,LinkedIn
19,Jane Garcia,45,Female,Logistics,Engineer,54611,3/16/2010,Single,Bachelor,No,5683,"Photography, Sports",...,jane.garcia@corporate.org,1109989261,Dhaka,Intern,No,38:10.9,2,8,None,Yes,Bangladesh,None
20,Fiona Johnson,23,Female,HR,Technician,89189,7/4/2019,Married,PhD,Yes,7849,"Sports, Gaming, Painting",...,fiona.johnson@example.com,1283990849,Rajshahi,Full-time,Yes,49:05.5,28,9,Data Analyst,No,Bangladesh,Facebook
21,Diana Jones,40,Other,IT,Developer,39435,11/30/2020,Divorced,High School,Yes,3655,"Photography, Reading",...,diana.jones@example.com,1937948841,Khulna,Intern,No,21:49.1,25,3,AWS,No,Bangladesh,Twitter
22,Ethan Smith,53,Other,IT,Consultant,111929,9/27/2023,Divorced,PhD,Yes,4685,"Photography, Painting, Music",...,ethan.smith@example.com,1307120747,Barisal,Part-time,Yes,16:21.8,11,9,None,Yes,Bangladesh,LinkedIn
23,Jane Davis,26,Other,IT,Developer,37227,12/17/2022,Married,High School,Yes,2949,"Music, Photography, Gaming",...,jane.davis@example.com,1025534472,Chittagong,Intern,No,16:21.8,30,0,CCNA,Yes,Bangladesh,Instagram
24,Hannah Jones,37,Male,HR,Technician,111571,4/8/2019,Married,Bachelor,No,7893,"Reading, Cooking",...,hannah.jones@company.com,1171754832,Sylhet,Intern,No,05:27.3,25,1,Scrum Master,No,Bangladesh,None
25,Ethan Garcia,28,Male,Sales,Consultant,118700,7/24/2010,Single,PhD,No,8273,Gardening,...,ethan.garcia@company.com,1263832666,Barisal,Full-time,Yes,54:32.7,14,3,Data Analyst,No,Bangladesh,Twitter
26,Alice Miller,53,Other,IT,Engineer,47625,12/14/2020,Single,High School,Yes,3799,"Gardening, Gaming, Painting",...,alice.miller@company.com,1197238510,Khulna,Part-time,Yes,21:49.1,18,7,Scrum Master,Yes,Bangladesh,None
27,George Garcia,42,Other,Sales,Developer,88576,8/15/2014,Divorced,High School,Yes,3315,"Music, Cooking, Painting",...,george.garcia@example.com,1560927572,Barisal,Full-time,No,None,21,6,Scrum Master,Yes,Bangladesh,Instagram
28,Bob Garcia,38,Female,Sales,Developer,90963,8/30/2022,Single,Bachelor,Yes,6416,Sports,...,bob.garcia@company.com,1606488007,Chittagong,Part-time,No,21:49.1,14,4,None,No,Bangladesh,Facebook
29,Alice Miller,54,Female,Engineering,Executive,72828,6/22/2014,Divorced,High School,Yes,9194,"Sports, Cooking",...,alice.miller@company.com,1140096570,Dhaka,Part-time,No,43:38.2,17,1,AWS,No,Bangladesh,LinkedIn
30,Diana Garcia,33,Male,Logistics,Technician,78604,11/10/2023,Single,PhD,No,5373,"Painting, Cooking, Music",...,diana.garcia@company.com,1053273626,Khulna,Intern,No,00:00.0,25,8,CCNA,No,Bangladesh,None
31,Alice Johnson,29,Male,Support,Consultant,118733,10/29/2019,Divorced,High School,Yes,5648,Photography,...,alice.johnson@company.com,1170881671,Chittagong,Part-time,Yes,None,28,4,Scrum Master,Yes,Bangladesh,Instagram
32,Hannah Johnson,48,Male,Logistics,Manager,98619,3/18/2014,Single,PhD,Yes,3965,Gardening,...,hannah.johnson@corporate.org,1948572929,Dhaka,Full-time,No,49:05.5,16,0,Scrum Master,Yes,Bangladesh,Twitter
33,Ethan Miller,56,Male,HR,Manager,92711,9/3/2011,Single,PhD,Yes,3392,Gaming,...,ethan.miller@example.com,1936246269,Barisal,Part-time,No,21:49.1,9,8,CCNA,No,Bangladesh,LinkedIn
34,Charlie Taylor,49,Female,Marketing,Developer,48752,4/9/2016,Single,PhD,Yes,9751,"Gardening, Gaming, Traveling",...,charlie.taylor@example.com,1814449223,Rajshahi,Part-time,Yes,None,12,1,None,Yes,Bangladesh,Facebook
35,George Brown,27,Other,Engineering,Engineer,115957,11/4/2023,Divorced,PhD,No,7140,Music,...,george.brown@example.com,1737546773,Rajshahi,Full-time,No,05:27.3,22,9,Data Analyst,Yes,Bangladesh,Facebook
36,Charlie Taylor,56,Male,Engineering,Technician,86273,9/11/2015,Divorced,Master,Yes,5460,"Painting, Reading, Traveling",...,charlie.taylor@example.com,1009655350,Rajshahi,Intern,Yes,16:21.8,13,1,Data Analyst,Yes,Bangladesh,LinkedIn
37,Fiona Williams,45,Male,Engineering,Manager,106559,9/2/2022,Married,Bachelor,No,9825,"Gardening, Reading",...,fiona.williams@corporate.org,1994039397,Khulna,Full-time,Yes,43:38.2,22,7,PMP,Yes,Bangladesh,Instagram
38,Hannah Wilson,54,Female,Sales,Technician,49169,8/23/2017,Divorced,High School,No,7358,"Music, Photography, Gardening",...,hannah.wilson@corporate.org,1762542654,Dhaka,Part-time,No,43:38.2,29,6,AWS,No,Bangladesh,Facebook
39,Bob Williams,46,Female,Marketing,Technician,117468,12/30/2016,Divorced,Bachelor,Yes,4321,Music,...,bob.williams@company.com,1272007295,Dhaka,Part-time,Yes,00:00.0,21,4,None,Yes,Bangladesh,Facebook
40,Alice Davis,34,Female,IT,Analyst,106957,1/21/2016,Divorced,PhD,Yes,5903,"Painting, Gardening",...,alice.davis@example.com,1240237852,Khulna,Contract,No,38:10.9,11,8,Scrum Master,No,Bangladesh,Twitter
41,Ethan Miller,22,Male,Engineering,Executive,103165,4/4/2016,Married,Bachelor,No,5151,"Cooking, Painting",...,ethan.miller@company.com,1414777847,Rajshahi,Contract,No,16:21.8,16,9,AWS,Yes,Bangladesh,Facebook
42,Alice Wilson,27,Female,Logistics,Manager,104520,11/19/2011,Single,PhD,Yes,6523,"Cooking, Music",...,alice.wilson@corporate.org,1133817161,Barisal,Contract,Yes,38:10.9,9,9,Data Analyst,Yes,Bangladesh,Twitter
43,Diana Taylor,51,Female,Finance,Developer,81112,11/1/2011,Married,PhD,No,8470,Music,...,diana.taylor@example.com,1580458865,Khulna,Contract,Yes,21:49.1,15,0,PMP,Yes,Bangladesh,Twitter
44,Ethan Miller,58,Female,HR,Executive,46920,5/14/2014,Single,PhD,No,9201,"Music, Painting, Gardening",...,ethan.miller@corporate.org,1832209944,Khulna,Part-time,No,00:00.0,25,4,Scrum Master,No,Bangladesh,None
45,Fiona Garcia,37,Other,Support,Developer,67846,6/28/2020,Single,PhD,No,9222,Cooking,...,fiona.garcia@company.com,1213066317,Dhaka,Full-time,Yes,43:38.2,28,2,PMP,Yes,Bangladesh,Instagram
46,Hannah Williams,54,Other,Finance,Technician,100984,9/12/2014,Single,Master,No,7940,"Gardening, Music, Cooking",...,hannah.williams@corporate.org,1201018324,Khulna,Contract,Yes,10:54.5,25,9,AWS,Yes,Bangladesh,Instagram
47,John Brown,45,Other,Logistics,Developer,87009,7/15/2022,Divorced,High School,Yes,6671,"Sports, Photography",...,john.brown@example.com,1438515178,Dhaka,Full-time,No,38:10.9,29,2,Scrum Master,No,Bangladesh,None
48,Jane Brown,48,Other,Support,Analyst,101229,5/13/2015,Single,High School,Yes,6924,Traveling,...,jane.brown@corporate.org,1763520656,Khulna,Contract,No,05:27.3,23,7,Scrum Master,Yes,Bangladesh,Instagram
49,George Jones,54,Other,IT,Developer,39956,10/2/2011,Single,Master,No,9690,"Gaming, Painting",...,george.jones@corporate.org,1151791522,Barisal,Contract,Yes,None,15,5,CCNA,Yes,Bangladesh,None
50,Hannah Miller,44,Female,Finance,Analyst,90428,11/23/2014,Divorced,PhD,No,6183,"Photography, Music",...,hannah.miller@corporate.org,1851375783,Sylhet,Part-time,No,05:27.3,15,8,AWS,Yes,Bangladesh,Facebook
51,Ethan Brown,29,Male,Engineering,Developer,86532,2/12/2013,Married,Master,No,5622,Music,...,ethan.brown@corporate.org,1509734114,Sylhet,Contract,Yes,49:05.5,8,5,Data Analyst,No,Bangladesh,Facebook
52,Jane Taylor,47,Female,Sales,Executive,77076,12/25/2022,Divorced,Master,Yes,3152,"Photography, Painting",...,jane.taylor@company.com,1118517494,Chittagong,Contract,Yes,32:43.6,2,2,PMP,Yes,Bangladesh,Instagram
53,Ethan Davis,57,Male,IT,Engineer,34798,8/2/2022,Single,PhD,No,7012,Reading,...,ethan.davis@company.com,1681035364,Barisal,Part-time,No,49:05.5,28,9,AWS,No,Bangladesh,Twitter
54,Charlie Taylor,33,Male,HR,Consultant,83352,5/20/2016,Married,High School,No,6824,"Reading, Cooking, Traveling",...,charlie.taylor@example.com,1945585882,Barisal,Full-time,Yes,38:10.9,25,5,None,Yes,Bangladesh,Instagram
55,George Williams,57,Female,Logistics,Developer,100476,10/4/2018,Single,High School,No,7225,"Gardening, Traveling",...,george.williams@company.com,1608206053,Sylhet,Part-time,Yes,00:00.0,11,1,None,No,Bangladesh,None
56,Diana Davis,26,Other,Sales,Executive,58082,8/21/2014,Married,Master,No,3909,Photography,...,diana.davis@example.com,1005891737,Khulna,Full-time,No,21:49.1,10,4,PMP,No,Bangladesh,Facebook
57,Charlie Jones,44,Male,Sales,Analyst,106816,2/18/2012,Single,High School,Yes,2756,"Photography, Gaming",...,charlie.jones@example.com,1374996881,Khulna,Full-time,No,27:16.4,30,1,Data Analyst,No,Bangladesh,Facebook
58,Alice Williams,34,Female,IT,Manager,87906,8/18/2019,Single,Bachelor,No,5723,"Sports, Gaming, Photography",...,alice.williams@example.com,1247862626,Barisal,Intern,Yes,43:38.2,23,3,PMP,No,Bangladesh,Twitter
59,Charlie Wilson,43,Female,Support,Engineer,47630,6/11/2011,Single,High School,No,5899,Painting,...,charlie.wilson@corporate.org,1306625237,Khulna,Intern,No,00:00.0,22,4,CCNA,Yes,Bangladesh,Instagram
60,John Williams,47,Male,HR,Executive,91558,1/21/2015,Single,Master,Yes,7170,"Sports, Photography",...,john.williams@corporate.org,1604900087,Sylhet,Contract,No,27:16.4,17,3,Scrum Master,No,Bangladesh,None
61,Ethan Davis,32,Male,Engineering,Consultant,88279,12/31/2011,Single,High School,No,8830,Music,...,ethan.davis@example.com,1178329259,Rajshahi,Full-time,No,None,20,6,Scrum Master,No,Bangladesh,Facebook
62,Bob Jones,58,Other,Finance,Engineer,119489,12/27/2021,Married,PhD,Yes,9369,"Sports, Gaming",...,bob.jones@company.com,1100466474,Dhaka,Part-time,No,21:49.1,11,5,PMP,No,Bangladesh,Instagram
63,Hannah Taylor,52,Male,IT,Developer,79145,5/22/2010,Married,Master,No,9695,Photography,...,hannah.taylor@company.com,1318980404,Chittagong,Contract,Yes,10:54.5,16,8,AWS,Yes,Bangladesh,Twitter

In [10]:
test.head()

,Name,Age,Gender,Department,JobTitle,Salary,DateOfJoining,MaritalStatus,Education,OverTime,MonthlyIncome,Hobbies,...,Email,PhoneNumber,City,EmploymentType,IsRemote,LastWorkingDay,LeavesTakenLastYear,ProjectsHandled,Certifications,PromotionEligible,Country,SocialMedia
0,Jane Johnson,24,Female,HR,Engineer,39110,12/19/2016,Married,Master,No,7752,"Reading, Cooking, Photography",...,jane.johnson@corporate.org,1269846195,Barisal,Part-time,No,10:54.5,27,6,Data Analyst,No,Bangladesh,LinkedIn
1,Fiona Smith,54,Male,Support,Analyst,73753,10/9/2011,Married,PhD,No,7214,Traveling,...,fiona.smith@company.com,1688615743,Barisal,Intern,No,05:27.3,5,2,Scrum Master,No,Bangladesh,Facebook
2,Jane Brown,23,Female,Sales,Developer,67208,4/6/2011,Divorced,PhD,Yes,8958,Cooking,...,jane.brown@company.com,1354985811,Khulna,Part-time,Yes,21:49.1,18,5,PMP,No,Bangladesh,Facebook
3,Fiona Johnson,41,Other,Sales,Consultant,84061,5/14/2016,Single,High School,Yes,5256,"Sports, Cooking, Gardening",...,fiona.johnson@company.com,1576718471,Barisal,Contract,Yes,32:43.6,5,4,PMP,No,Bangladesh,Instagram
4,John Brown,23,Male,Support,Engineer,38125,8/29/2015,Single,Master,No,5703,"Sports, Reading",...,john.brown@example.com,1604205806,Barisal,Full-time,Yes,54:32.7,24,7,None,Yes,Bangladesh,None

In [11]:
from sqlalchemy import create_engine
import psycopg2

In [12]:
engine = create_engine('mysql+pymysql://root:130602@localhost:3306/sample_db')
engine

Engine(mysql+pymysql://root:***@localhost:3306/sample_db)

In [13]:
bd_df.to_sql("sample_db", engine)

64

In [14]:
bd_df.to_sql("sample_table", engine)

64

In [15]:
bd_df.to_sql("sample_table", engine, if_exists='replace')

64

In [16]:
sql_df = pd.read_sql('sample_table', engine, index_col='EmployeeID')
sql_df.head()

,Name,Age,Gender,Department,JobTitle,Salary,DateOfJoining,MaritalStatus,Education,OverTime,MonthlyIncome,Hobbies,...,Email,PhoneNumber,City,EmploymentType,IsRemote,LastWorkingDay,LeavesTakenLastYear,ProjectsHandled,Certifications,PromotionEligible,Country,SocialMedia
EmployeeID,,,,,,,,,,,,,,,,,,,,,,,,,
1011,Jane Johnson,24,Female,HR,Engineer,39110,12/19/2016,Married,Master,No,7752,"Reading, Cooking, Photography",...,jane.johnson@corporate.org,1269846195,Barisal,Part-time,No,10:54.5,27,6,Data Analyst,No,Bangladesh,LinkedIn
1019,Fiona Smith,54,Male,Support,Analyst,73753,10/9/2011,Married,PhD,No,7214,Traveling,...,fiona.smith@company.com,1688615743,Barisal,Intern,No,05:27.3,5,2,Scrum Master,No,Bangladesh,Facebook
1038,Jane Brown,23,Female,Sales,Developer,67208,4/6/2011,Divorced,PhD,Yes,8958,Cooking,...,jane.brown@company.com,1354985811,Khulna,Part-time,Yes,21:49.1,18,5,PMP,No,Bangladesh,Facebook
1039,Fiona Johnson,41,Other,Sales,Consultant,84061,5/14/2016,Single,High School,Yes,5256,"Sports, Cooking, Gardening",...,fiona.johnson@company.com,1576718471,Barisal,Contract,Yes,32:43.6,5,4,PMP,No,Bangladesh,Instagram
1048,John Brown,23,Male,Support,Engineer,38125,8/29/2015,Single,Master,No,5703,"Sports, Reading",...,john.brown@example.com,1604205806,Barisal,Full-time,Yes,54:32.7,24,7,None,Yes,Bangladesh,None

In [17]:
sql_df = pd.read_sql_query('SELECT * FROM sample_table', engine, index_col='EmployeeID')
sql_df.head()

,Name,Age,Gender,Department,JobTitle,Salary,DateOfJoining,MaritalStatus,Education,OverTime,MonthlyIncome,Hobbies,...,Email,PhoneNumber,City,EmploymentType,IsRemote,LastWorkingDay,LeavesTakenLastYear,ProjectsHandled,Certifications,PromotionEligible,Country,SocialMedia
EmployeeID,,,,,,,,,,,,,,,,,,,,,,,,,
1011,Jane Johnson,24,Female,HR,Engineer,39110,12/19/2016,Married,Master,No,7752,"Reading, Cooking, Photography",...,jane.johnson@corporate.org,1269846195,Barisal,Part-time,No,10:54.5,27,6,Data Analyst,No,Bangladesh,LinkedIn
1019,Fiona Smith,54,Male,Support,Analyst,73753,10/9/2011,Married,PhD,No,7214,Traveling,...,fiona.smith@company.com,1688615743,Barisal,Intern,No,05:27.3,5,2,Scrum Master,No,Bangladesh,Facebook
1038,Jane Brown,23,Female,Sales,Developer,67208,4/6/2011,Divorced,PhD,Yes,8958,Cooking,...,jane.brown@company.com,1354985811,Khulna,Part-time,Yes,21:49.1,18,5,PMP,No,Bangladesh,Facebook
1039,Fiona Johnson,41,Other,Sales,Consultant,84061,5/14/2016,Single,High School,Yes,5256,"Sports, Cooking, Gardening",...,fiona.johnson@company.com,1576718471,Barisal,Contract,Yes,32:43.6,5,4,PMP,No,Bangladesh,Instagram
1048,John Brown,23,Male,Support,Engineer,38125,8/29/2015,Single,Master,No,5703,"Sports, Reading",...,john.brown@example.com,1604205806,Barisal,Full-time,Yes,54:32.7,24,7,None,Yes,Bangladesh,None

Asif Antaj Robin
Cumilla Polytechnic Institute (CPI)
Computer Science and Technology (CST)
Phone Number : 01312531960